// Styling for the footer
footer {
  padding: 5px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  border-top: 1px solid #6c757d;
  span.copyright {
    font-size: 70%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;
  }
  #my-social-icons{
      a{
        margin: 0 5px;
      }
  }
  ul.quicklinks {
    font-size: 70%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
    display:inline-block;
  }
  a.page-links{
      &::after{
        content: "|";
        margin-left: 4px;
      }
  }
  a.developer{
      color: #000;
      margin-left: 25px;
  }
}
