// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/home-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  opacity:0.9;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      opacity: 1;
      font-size: 25px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include heading-font;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      letter-spacing: .15em; /* Adjust as needed */
      animation: typing 4.5s steps(50, end);
    }
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    .intro-heading {
      opacity: 1;
      font-size:14px;
      margin-bottom: 22px;
      padding:10px;
      @include heading-font;
      padding-left: 0;
      letter-spacing: 1px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  a.btn{
      border-radius: 0;
      background-color: #fed136;
      margin: 9px;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 1px;
      border: 1px solid #fed136;
      @include header-font;
      transition: unset !important;
      font-weight: 300;
      &:hover{
        background-color: #fff;
        color: #fed136;
      }
   }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 150px;
      .intro-lead-in {
        opacity: 1;
        font-size: 45px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include heading-font;
         position: relative;
      }
      .intro-heading {
        opacity: 1;
        font-size: 14px;
        padding: 8px;
        letter-spacing: 1px;
        margin-bottom: 25px;
        @include heading-font;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
